extends base.pug
block style 
            style
                include ../static/styles.css
                include ../static/about.css
block content
    .container
        .section1
            h1 My Bio
            table 
                tr 
                    th Name
                    th Yashvant G. Mundwaik
                tr 
                    th Nickname
                    th Abhi
                tr 
                    th Email
                    th ym*****@gmail.com
                tr 
                    th Phone
                    th 91******44
                tr 
                    th Age
                    th 19 year
                tr 
                    th DOB
                    th 30 Apr 2002
                tr 
                    th Hight
                    th 5.11 Inch
                tr 
                    th Weight
                    th 71 kg
                tr 
                    th Rl.Status
                    th (its private)
                tr 
                    th Hobbie
                    th Drawing cartoon
        .section2
            h1 All Fav
            table 
                tr 
                    th Actor
                    th Ranbir kapoor
                tr 
                    th Show
                    th Bigg-Boss
                tr 
                    th Movie
                    th Avenger Endgame
                tr 
                    th Singer
                    th Armaan Malik
                tr 
                    th Song
                    th Gajab ka hai ye din
                tr 
                    th Sport
                    th Cricket
                tr 
                    th Player
                    th Virat Kohli
                tr 
                    th Place
                    th Kedarnath
                tr 
                    th Dish
                    th Biryani
                tr 
                    th Sweet
                    th Motichoor Laddu