html 
    head 
        title Abhi's Life
        block script   
        block style 
            style
                include ../static/styles.css
    body 
        nav#navbar 
            img(src="../static/im2.jpg", alt=" " class="img")
            ul 
                li #[a(href="/home") Home]
                li #[a(href="/images") Images]
                li #[a(href="/education") Education]
                li #[a(href="/music") Music]
                li #[a(href="/about") About]
        block content 
        block foot
            footer Copyright @ 2022 allaboutabhi.com | All right reserve