extends base.pug
block style 
            style
                include ../static/styles.css
                include ../static/edu.css
block content
    .section1 
        h1 Education Details 
        table
            tr
                th(rowspan="2") Examination
                th(rowspan="2") Institude
                th(rowspan="2") Year
                th(rowspan="2") Percent
                th(colspan="2") pointer
            tr
                th Sem I
                th Sem II
            tr
                td SSC
                td Madan Maharaj Vidyalaya, Fulamla
                td 2016-2017
                td 87.20%
                td -
                td -
            tr
                td HSC
                td G.M.Tekade Jr College, Kurum
                td 2018-2019
                td 59.08%
                td -
                td -
            tr
                td BSc I
                td Degree College Of Physical Education,HVPM,Amravati
                td 2019-2020
                td -
                td 7.60
                td 8.65
            tr
                td BSc II
                td Degree College Of Physical Education,HVPM,Amravati
                td 2020-2021
                td -
                td 8.19
                td 8.94
            tr
                td BSc III
                td Degree College Of Physical Education,HVPM,Amravati
                td 2021-2022
                td -
                td -
                td -