extends base.pug
block style 
            style
                include ../static/styles.css
                include ../static/images.css
block content
    .section1 
        h1 Some Favorite Images
        .box 
            img(src="../static/im1.jpg", alt="img1")
            img(src="../static/im18.jpg", alt="img1")
            img(src="../static/im4.jpg", alt="img1")
            img(src="../static/im5.jpg", alt="img1")
            img(src="../static/im17.jpg", alt="img1")
            img(src="../static/im2.jpg", alt="img1")
            img(src="../static/im3.jpg", alt="img1")
            img(src="../static/im20.jpg", alt="img1")
            img(src="../static/im21.jpg", alt="img1")
            img(src="../static/im6.jpg", alt="img1")
            img(src="../static/im7.jpg", alt="img1")
            img(src="../static/im9.jpg", alt="img1")
            img(src="../static/im10.jpg", alt="img1")
            img(src="../static/im19.jpg", alt="img1")
            img(src="../static/im12.jpg", alt="img1")
            img(src="../static/im23.jpg", alt="img1")
            img(src="../static/im13.jpg", alt="img1")
            img(src="../static/im14.jpg", alt="img1")
            img(src="../static/im15.jpg", alt="img1")
            img(src="../static/im16.jpg", alt="img1")
            img(src="../static/im22.jpg", alt="img1")
            img(src="../static/im8.jpg", alt="img1")
            img(src="../static/im24.jpg", alt="img1")
            img(src="../static/im11.jpg", alt="img1")